html {
  color: #000000;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Source Sans Pro', sans-serif;
  scroll-behavior: smooth
}

body{
  background-image: url("img/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

p{
  color: #F9F9F9;
}

h2{
  color: #F9F9F9;
}

h3{
  color: #F9F9F9;
}

li{
  color: #F9F9F9;
}

/*Header*/
.header1{
 background: rgb(24, 24, 27);
}

.Contenedor{
 margin: 0 auto;
 width: 55%;
 display: flex;
 }

.logo{
 width: 8vw;
 height: auto;
 }

.searchbar{
 width: 85%;
 font-family: 'Source Sans Pro', sans-serif;
 }

.barrabusqueda{
 border-top: solid 3px rgb(18, 18, 20);
 border-bottom: solid 3px rgb(18, 18, 20);
 background: #18181B;
 font-family: 'Source Sans Pro', sans-serif;
}

.navbar{
 width: 60%;
 margin: 0 auto;
}
/*Fin Header*/

/*Contenido*/
.contenedorgen{
  background: #fff;
  width: 64%;
  margin: auto;
  background-color: rgba(24, 24, 27, 0.75);
  position: relative;
  overflow: hidden;
}

main, aside {
  margin: 1%;
}
main {
  width: 18%;
  align-self: start;
  margin: 1%;
  background-color: rgb(18, 18, 20);
}
main h2{
  text-align: center;
  font-size: 28px;

}

.products h2{
  margin-left: 2%;
  font-size: 28px;
}

.lateralprod {
  width: 82%;
  background-color: rgb(18, 18, 20);
}

.contenedorprod{
 display: flex;
}

.contenedoritems{
	display: flex;
	flex-direction:;
	flex-wrap: wrap;
	justify-content: space-around;
}

.item{
	background-color: #ccc;
	width: 30%;
  height: 290px;
	margin:1%;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
}

.cambiopag{
  margin: 0 auto;
  width: 25%;

}
/*Fin Contenido*/

/*Footer*/
.footer{
   border-top: solid 3px rgb(18, 18, 20);
   background: rgba(24, 24, 27, 0.75);
   height: auto;
 }

.infocontainer{
   display: flex;
   margin: 0 auto;
   width: 65%;
   margin-top: 1%;
 }

.infocontainer li{
   font-size: 0.8vw;
   text-align: left;
 }

.infocontainer p{
   font-size: 0.8vw;
   text-align: left;
 }


.Informacion{
   width: 33%;
   text-align: center;
   margin-left: 1%;
   margin-bottom: 3%;
 }
 .Informacion h3{
   border-right: solid 1% rgb(18, 18, 20);
   background-color: rgb(53, 73, 94);
   font-size: 1.7vw;
 }

.Nosotros{
  width: 33%;
  text-align: center;
  margin-left: 1%;
  margin-bottom: 3%;
  }
  .Nosotros h3{
  border-right: solid 1% rgb(18, 18, 20);
  background-color: rgb(53, 73, 94);
  font-size: 1.7vw;
}

.Contacto{
  width: 33%;
  text-align: center;
  margin-left: 1%;
  margin-bottom: 3%;
  }
  .Contacto h3{
  border-right: solid 1% rgb(18, 18, 20);
  background-color: rgb(53, 73, 94);
  font-size: 1.7vw;
}
/*Fin Footer*/

.btn{
   color: #F9F9F9;
 }


 /*Dispositivos pequeños*/
 @media screen and (max-width: 480px) and (min-width: 0px){
   .contenedorgen{
     width: 100%;
   }
   .Contenedor{
     width: 100%;
   }
   .logo{
     width: 20vw;
   }
   .infocontainer{
     width: 100%;
   }
   .infocontainer li{
      font-size: 2.3vw;
      text-align: left;
    }
   .infocontainer p{
      font-size: 2.3vw;
      text-align: left;
    }
    .infocontainer h3{
       font-size: 3vw;
       text-align: left;
     }

 }

.btn{
  color: #F9F9F9;
}

/*Dispositivos pequeños*/
@media screen and (max-width: 480px) and (min-width: 0px){
  .Contenedor{
    width: 100%;
  }

  .products{
    width: 100%;
  }
  .contenedorgen{
    width: 100%;
  }
  .logo{
    width: 20vw;
  }
  .infocontainer{
    width: 100%;
  }
  .infocontainer li{
     font-size: 2.3vw;
   }
  .infocontainer p{
     font-size: 2.3vw;
   }
   .infocontainer h3{
      font-size: 3vw;
    }

}

/*Dispositivos medianos*/
@media screen and (max-width:1008px) and (min-width: 479px){
.Contenedor{
    width: 100%;
  }
.products{
 width: 100%;
 }
.contenedorgen{
 width: 100%;
}
.logo{
 width: 20vw;
}
.infocontainer{
 width: 100%;
}
.infocontainer li{
  font-size: 2.3vw;
}
.infocontainer p{
  font-size: 2.3vw;
}
.infocontainer h3{
   font-size: 3vw;
 }

}
